@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --font-pokemon: 'Pokemon Solid', sans-serif;
    --font-pixel:"Pixelify Sans", sans-serif;
    --color-pokemon-yellow:#ffcc08;
    --color-pokemon-blue:#3a5ca8;
    --color-btn-1:#afd977;
    --color-btn-2:#f7de8c;
    --color-btn-3:#de5d61;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./tools-desing/WhatsApp\ Image\ 2024-04-04\ at\ 22.40.52.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-pokemon);
    flex-direction: column;
    gap: 4em;
}

.imgPokemon{
    filter: brightness(0);
    width: 500px;
}

.container{
    display: flex;
    justify-content: center;
    /* align-items: center;
    margin: 0 auto;
    max-height: 1200vh;
    width: 80%;
    overflow: hidden; */
}

.container-container{
    display: flex;
    gap: 12em;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokeomon{
    color: var(--color-pokemon-yellow);
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: var(--color-pokemon-blue); 
    font-size: 140px;
}

.botones{
    display: flex;
    gap: 1em;
}


.botones button:nth-child(1){
    background-color: var(--color-btn-1);
}

.botones button:nth-child(2){
    background-color: var(--color-btn-2);
}

.botones button:nth-child(3){
    background-color: var(--color-btn-3);
}

button{
    font-family: var(--font-pixel);
    font-optical-sizing: auto;
    font-weight: 400;
    padding: .5em;
    border-radius: 9px;
    font-size: 20px;
}

.container-header{
    display: flex;
    gap: 70em;
}

.container-score{
    color: var(--color-pokemon-yellow);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black; 
    font-size: 50px;
    font-family:var(--font-pixel) ;
}

/* corazon */
.heart {
    background: red;
    width: 20px;
    height: 20px;
    box-shadow:
      20px -20px 0px black, 40px -20px 0px black, 0px -20px 0px black,
      120px -20px 0px black, 140px -20px 0px black, 160px -20px 0px black,
      20px 0px 0px red, 40px 0px 0px red, 60px 0px 0px black, -20px 0px 0px black,
      100px 0px 0px black, 140px 0px 0px red, 160px 0px 0px #b32914, 120px 0px 0px red, 180px 0px 0px black,
      80px 20px 0px black, 120px 20px 0px red, 140px 20px 0px red, 160px 20px 0px red, 180px 20px 0px #b32914, 100px 20px 0px red, 200px 20px 0px black,
      -40px 20px 0px black, -20px 20px 0px red, 0px 20px 0px red, 20px 20px 0px white, 40px 20px 0px red, 60px 20px 0px red,
      -40px 40px 0px black, -20px 40px 0px red, 0px 40px 0px white, 20px 40px 0px red, 40px 40px 0px red, 60px 40px 0px red,
      80px 40px 0px red, 100px 40px 0px red, 120px 40px 0px red, 140px 40px 0px red, 160px 40px 0px red, 180px 40px 0px #b32914, 200px 40px 0px black,
      80px 60px 0px red, 100px 60px 0px red, 120px 60px 0px red, 140px 60px 0px red, 160px 60px 0px red, 180px 60px 0px #b32914, 200px 60px 0px black,
      -40px 60px 0px black, -20px 60px 0px red, 0px 60px 0px red, 20px 60px 0px red, 40px 60px 0px red, 60px 60px 0px red,
      -40px 80px 0px black, -20px 80px 0px red, 0px 80px 0px red, 20px 80px 0px red, 40px 80px 0px red, 60px 80px 0px red,
      80px 80px 0px red, 100px 80px 0px red, 120px 80px 0px red, 140px 80px 0px red, 160px 80px 0px red, 180px 80px 0px #b32914, 200px 80px 0px black,
      80px 100px 0px red, 100px 100px 0px red, 120px 100px 0px red, 140px 100px 0px red, 160px 100px 0px #b32914, 180px 100px 0px black,
      -20px 100px 0px black, 0px 100px 0px red, 20px 100px 0px red, 40px 100px 0px red, 60px 100px 0px red,
      0px 120px 0px black, 20px 120px 0px red, 40px 120px 0px red, 60px 120px 0px red,
      80px 120px 0px red, 100px 120px 0px red, 120px 120px 0px red, 140px 120px 0px #b32914, 160px 120px 0px black,
      20px 140px 0px black, 40px 140px 0px red, 60px 140px 0px red,
      80px 140px 0px red, 100px 140px 0px red, 120px 140px 0px #b32914, 140px 140px 0px black,
      80px 160px 0px red, 100px 160px 0px #b32914, 120px 160px 0px black,
      40px 160px 0px black, 60px 160px 0px red,
      80px 180px 0px #b32914, 100px 180px 0px black,
      60px 180px 0px black,
      80px 200px 0px black;
     animation: animate .5s alternate infinite;
     scale: 15%;
   }
   
   .position-center {
    margin: auto;
  }
  
  .container-hears{
    display: flex;
    gap: 2em;
  }

  body {
    overflow: hidden;
  }
  
@keyframes animate {
    0% {
        transform: scale(1)
    }
    20% {
        transform: scale(1.05)
    }
    50% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.07)
    }
    }



@media (min-width:301px) and (max-width: 600px){
    body{
        background-image: url(./tools-desing/mobile-desing.png);
        flex-direction: column;
        gap: 3em;
        padding: 2em;
    }
    .container-container{
        gap: 0;
        flex-direction: column;
    }
    .pokeomon{
        font-size: 50px;
        -webkit-text-stroke-width: 4px;
    }
    .imgPokemon{
        width: 200px;
    }
    button{
        font-size: 12px;
    }
    .botones{
        padding-top: 2em;
    }
    .container{
        padding: 1em;
    }
    .container-header {
        gap: 8em;
    }
    .botones{
        flex-direction: column;
    }
    .container-score{
    -webkit-text-stroke-width: .6px;
    font-size: 20px;
    text-align: center;
    }
    .container-hears{
        gap: 1em;
    }
    .heart{
        scale:10%;
    }
    
}

@media (min-width:601px) and (max-width:1025px){
    .imgPokemon{
        width: 500px;
    }
    .container-container{
        gap: 0;
        flex-direction: column;
    }
    button{
        font-size: 40px;
        border: none;
        border-radius: 9px;
    }
    .pokeomon{
        font-size: 100px;
    }
    .container-header{
        display: flex;
        gap: 30em;
    }
}